*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/* Main Container */
.wrap {
  position: relative;
  background: lightblue;
  margin: 2vh 2vw;
}
 /* Nav Bar */
 .nav-bar h2 {
  /*border: 1px solid blue;*/
  float: left;
  background: lightgrey;
 }

.nav-bar li {
  /*border: 1px solid red;*/
  float: right;
  display: block;
  list-style: none;
  background: lightgrey;
}

/* Header */
.header {
  /*border: 1px solid green;*/
  text-align: center;
  overflow: auto;
}

.header h1, h2 {
  background: lightgrey;
}

/* Featured Items */
.featured-items img {
  height: 30vh;
  width: 86.5vw;
  display: block;
  /*margin: 2vh auto;*/
}

.featured-items h3 {
  background: lightgrey;
}

.featured-1, .featured-2, .featured-3, .featured-4 {
  text-align: left;
  padding: 2vw;
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
